<!DOCTYPE html>
<html>
<head>
    <title>Application Form</title>
    <link rel="stylesheet" href="./styles.css">
</head>
        <body>
            <h1>Application Form</h1>
            <div>
                <br>
            <form action ="/application" method="POST">
                <label>First Name: <input class="inputbox" type="text" name="firstname"></label>
                <br>
                <br>
                <label id="last">Last Name: <input class="inputbox" type="text" name="lastname"></label>
                <br>
                <br>
                <label>Salary Requirements: <input class="inputbox" type="text" name="salaryreq"></label>
                <br>
                <br>
                <label>Job Applying For:
                    <select name="jobtitle">
                        <option value="softwareengineer">Software Engineer</option>
                        <option value="qaengineer">QA Engineer</option>
                        <option value="productmanager">Product Manager</option>
                    </select>
                </label>
                <br>
                <br>

               <input class="inputbox" type="submit">
            </form>
            <br>
        </div>
        </body>
</html>